header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background: #f5cc00;
    align-items: center;
    padding: 0 50px;
}


.L {
    width: 4%;
}


nav {
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 30px;
    align-items: center;
    padding: 100px;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: black;
}


nav ul li {
    list-style: none;
}


.c{
    justify-content: space-around;
    display: flex;
    height: 120vh;


    .happy{
        width: 50%;
    }


    .r {
        width: 120%;
        padding: 30% 10% 1%;
    }


    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 95px;
        line-height: 100px;
        padding: 30% 0 0 20%;
    }


    h4 {
        padding: 0 13% 0 20%;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }


    .read {
        margin: 4% 0 0 20%;
        padding: 2% 4%;
        border: none;
        background: #f5cc00;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

}


.c1 {
    justify-content: space-around;
    display: flex;
    height: 170vh;
    background-color: #f5cc00;


    h2 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 90px;
        line-height: 100px;
        padding: 35% 0 0 10%;
    }


    h4 {
        padding: 0 50% 0 10%;
        font-family: "Open Sans", sans-serif;
        font-size: 18px; 
    }


    .f1 {
        padding: 40% 0 0 0;
        position: relative;
        top: 30%;
        left: -100%;
        margin: 20%;
        display: block;
        width: 170%;
    }


    .read1 {
        margin: 4% 0 0 10%;
        padding: 2% 4%;
        border: none;
        color: white;
        background: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }


}


.position {
    position: absolute;
    top: 790px;
    justify-content: space-around;
    display: flex;
    margin: 0 15% 0 15%;
    width: 140vh;
    height: 50vh;
    align-items: center;
    background-color: #E6E6E6;
    box-shadow: 2px 5px 40px #00000054;


    .happines {
        width: 25%;
    }


    h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 60px;
        line-height: 55px;
        color: #f5cc00;
    }


    h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
    }


}


.e {
    .p {
        background-color: #E6E6E6;
        display: flex;
        margin: 150px 150px;
        height: 90vh;
        box-shadow: 2px 5px 70px #00000054;
    }


    .j {
        width: 100%;
        height: 100%;
    }


    .t {
        width: 30%;
        margin: 100px 100px;
    }


    h4 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 70px;
        color: #f5cc00;
    }


    h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 19px;
    }


    .b {
        padding: 4% 8%;
        margin: 40px 0;
        border: none;
        background: black;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }


    .grafica-one {
        width: 320px;
        height: 320px;
        padding: 0 250px 0;
    }
}


.a {
    background-color: black;
    color: white;
    text-align: center;


    .about h4 {
        display: flex;
        justify-content: center;
        text-align: center;
    }


    h4 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        line-height: 70px;
        color: #f5cc00;
        padding: 100px 0 0 0;
    }


    h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 19px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        padding: 20px 550px;
        text-align: center;
    }


    .img10 {
        width: 70%;
        height: 70%;
        margin: 50px;
    }


    .read {
        padding: 1% 3%;
        margin: 10px 0 90px;
        border: none;
        background: #f5cc00;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
}


.to {
    justify-content: space-around;
    display: flex;
    height: 110vh;


    .cin {
        width: 120%;
        margin: 130px 0 0 90px;
    }


    .pa {
        width: 30%;
        margin: 400px;
    }


    h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 90px;
        position: relative;
        top: -450px;
    }


    h2 {
        padding: 30px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 19px;
        position: relative;
        top: -550px;
    }


    .a4 {
        padding: 3% 7%;
        margin: 30px 0 90px;
        border: none;
        background: #f5cc00;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
}


.x {
    display: flex;
    background-color: #e6e6e6;
    align-items: center;
    height: 110vh;


    .happines {
        padding: 0 0 0 150px;
        width: 45%;
    }


    h3 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        line-height: 95px;
        color: #000000;
    }


    h2 {
        padding: 30px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 19px;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        width: 60%;
    }


    .img66 {
        width: 100%;
        margin: 50px 40px 50px 0;
    }


    .Read {
        padding: 3% 7%;
        margin: 60px 0 90px;
        border: none;
        background: #f5cc00;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
}


.nas {
    display: flex;
    align-items: center;


    .for {
        background-color: #000000;
        color: white;
        margin: 150px;
        width: 50%;
        font-size: 22px;
        padding: 60px;
    }


    label {
        font-family: "Open Sans", sans-serif;
        font-size: 19px;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }


    input {
        background-color: transparent;
        border: 3px solid white;
        height: 40px;
    }


    textarea {
        height: 160px;
        background-color: transparent;
        border: 3px solid white;
    }


    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }


    h2 {
        padding: 30px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        width: 100%;
    }


    .happines {
        width: 70%;
    }


    h4 {
        padding: 30px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        width: 75%;
    }


    h3 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        line-height: 95px;
        color: #f5cc00;
    }


    .form {
        display: flex;
        justify-content: space-around;
        gap: 40px;
    }


    .for1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }


    .sub {
        padding: 3% 9%;
        margin: 50px 0 90px;
        border: none;
        background: #000000;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
}


.cos {
    background-color: #f5cc00;
    text-align: center;


    h5 {
        padding: 60px 0 0 0;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        line-height: 95px;
        color: #000000;
    }


    h2 {
        padding: 10px 0 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        padding: 20px 550px;
        text-align: center;
    }


    .sal1 {
        width: 80%;
    }


    .contact {
        padding: 1% 3%;
        margin: 80px;
        border: none;
        background: #000000;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
}


footer {
    background-color: #000000;
    color: white;
    padding: 50px;


    .hpp {
        display: flex;
        gap: 40px;
        margin: 90px 10px 180px;
    }


    h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        color: #f5cc00;
    }


    .nico {
        display: flex;
        gap: 60%;
        margin: 60px 10px;
        align-items: center;
        justify-content: space-between;
    }


    h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        color: #f5cc00;
    }
}










@media (max-width:480px) {

    header {
        height: 140px;
        display: flex;
        flex-direction: column;
        padding: 12px;
        justify-content: space-around;
        width: 95%;
        position: static;
    }


    nav {
        padding: 0 50px;
        
    }


    .c {
        flex-direction: column;
        justify-content: normal;
        height: 130vh;
        padding: 20% 0 0 0;


        .r {
            width: 80%;
            padding: 10%
        }


        .question {
            width: 100%;
        }


        h1 {
            padding: 0 10% 0 10%;
        }


        h4 {
            padding: 15%;
            position: relative;
            top: -60px;
            margin: -35px;
            bottom: -70px;
            left: 45px;
        }


        .read {
            margin: 4% 0 0 35%;
            position: relative;
            top: -60px;
            left: -35px;
        }
    }


    .position {
        top: 1300px;
        margin: 10%;
        width: auto;


        .graph {
            display: none;
        }


        .happines {
            width: 70%;
        }
    }


    .c1 {
        height: 130vh;


        .f1 {
            display: none;
        }


        h2 {
            padding: 70% 10% 0 10%;
        }


        h4 {
            padding: 0 10% 0 10%;
            position: relative;
            top: -60px;
            margin: -35px;
            bottom: -70px;
        }
    }


    .e {
        .j {
            display: none;
        }


        .p {
            margin: 40px;
            height: auto;
        }


        .t {
            width: 70%;
            margin: 40px;
        }


        .grafica-one {
            display: none;
        }


        h3 {
            width: 100%;
        }


        h4 {
            font-size: 85px;
            font-size: 300%;
        }

    }


    .a {
        h2 {
            padding: 20px;
        }
    }
    

    .to {
        flex-direction: column;
        height: 140vh;


        .cin {
            width: 80%;
            margin: 20px 0 0 50px;
        }


        .pa {
            margin: 50px 0 0 35px;
            width: 90%;


            h4{
                font-size: 100px;
                position: relative;
                top: -180px;
            }


            h2{
                position: relative;
                top: -220px;
            }

        
        }
    }


    .x {
        height: 120vh;


        .img66 {
            display: none;
        }


        .happines {
            padding: 10%;
            width: 100%;
        }


        h2 {
            width: 100%;
        }


        .Read {
            margin: 30px 0 10px;
        }
    }


    .nas {
        flex-direction: column;


        .for {
            margin: 25px 0;
            width: 65%;
        }


        .form {
            flex-direction: column;
        }


        .happines {
            width: 100%;
        }


        .pa {
            margin: 40px;
            width: 90%;
            height: 60vh;
        }

        h4 {
            padding: 40px;
            width: 75%;
        }

        h3 {
            padding: 30px;
            font-size: 80px;
        }


        .sub {
            margin: 50px 100px 50px;
        }
    }


    .cos {
        h2 {
            padding: 20px 0 0;
        }


        .sal1 {
            padding: 50px 0 0;
        }


        .contact {
            margin: 50px;
        }

    }


    .text{
        h3{
            position: relative;
            left: 45px;
        }


        h4{
            position: relative;
            left: 45px;
        }
    }


    footer {
        .hpp {
            margin: 90px 10px 90px;
            gap: 100px;
        }


        .nico {
            gap: 1%;
            margin: 30px 10px;
        }
    }

    
}